{% comment %}
*
*   More Information › https://mathiasbynens.be/notes/touch-icons
*
{% endcomment %}
{% comment %} Regular Old-Skool Favicon: {% endcomment %}
	{% if site.favicon-32x32 %}<link rel="icon" sizes="32x32" href="{{ "/assets/img/" | absolute_url }}{{ site.favicon-32x32 }}">{% endif %}
{% comment %} For Chrome for Android: {% endcomment %}
	{% if site.touch-icon-192x192 %}<link rel="icon" sizes="192x192" href="{{ "/assets/img/" | absolute_url }}{{ site.touch-icon-192x192 }}">{% endif %}
{% comment %} Favicon for Windows 8  {% endcomment %}
	{% if site.msapplication_tileimage %}<meta name="msapplication-TileImage" content="{{ "/assets/img/" | absolute_url }}{{ site.msapplication_tileimage }}">{% endif %}
{% comment %} Background Color for Tile for Windows 8  {% endcomment %}
	{% if site.msapplication_tilecolor %}<meta name="msapplication-TileColor" content="{{ site.msapplication_tilecolor }}">{% endif %}
